---
---

@import "alembic";

ul, blockquote {
    padding-left: 30px;
}

h1, h4 {
    padding-bottom: 10.5px;
}

// Table styling based off of
// https://codepen.io/nathancockerill/pen/OQyXWb

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-form-highlight: #EEEEEE;

*, *:before, *:after {
    box-sizing:border-box;
}

table {
    margin-top: 20px;
    margin-bottom: 20px !important;
    width:100%;
    border:1px solid $color-form-highlight;
}

table header {
    display:flex;
    width:100%;
    background:#000;
    padding:($half-spacing-unit * 1.5) 0;
}

table tr {
    display:flex;
    width:100%;
    padding:($half-spacing-unit * 1.5) 0;
        align-items: center;

    &:nth-of-type(odd) {
        background:$color-form-highlight;
    }
}

table tr td:first-of-type {
    font-weight: bold;
}

table td {
    flex: 1 1 20%;
    text-align:center;
}

.feature h2, p {
    color: white;
}
