---
---

@import "alembic";

ul, blockquote {
    padding-left: 30px;
}

blockquote p {
    margin-bottom: 0px !important;
}

form {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

h1, h4 {
    padding-bottom: 10.5px;
}

h5 {
    padding-bottom: 15px;
}

// Table styling based off of
// https://codepen.io/nathancockerill/pen/OQyXWb

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-form-highlight: #EEEEEE;

*, *:before, *:after {
    box-sizing:border-box;
}

table {
    margin-top: 20px;
    margin-bottom: 20px !important;
    width:100%;
    border:1px solid $color-form-highlight;
}

table header {
    display:flex;
    width:100%;
    background:#000;
    padding:($half-spacing-unit * 1.5) 0;
}

table tr {
    display:flex;
    width:100%;
    padding:($half-spacing-unit * 1.5) 0;
        align-items: center;

    &:nth-of-type(odd) {
        background:$color-form-highlight;
    }
}

table tr td:first-of-type {
    font-weight: bold;
}

table td {
    flex: 1 1 20%;
    text-align:center;
}

.feature h2, .feature p {
    color: white;
}

// https://codepen.io/NielsVoogt/pen/YbaNPd
$details-padding: 1em;

details {
	font-size: 1rem;
	margin: 1em 0;
	box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	width: 100%;
	background: #ffffff;
	border-radius: 8px;
	position: relative;
	width: 500px;

	.summary-title {
		user-select: none;
	}

	&:hover {
		cursor: pointer;
	}

	.summary-content {
		border-top: 1px solid #e2e8f0;
		cursor: default;
		padding: $details-padding;
		font-weight: 300;
		line-height: 1.5;
	}

	summary {
		list-style: none;
		padding: $details-padding;

		&:focus {
			outline: none;
		}

		&:hover .summary-chevron-up svg {
			opacity: 1;
		}
	}

	.summary-chevron-up svg {
		opacity: 0.5;
	}

	.summary-chevron-up,
	.summary-chevron-down {
		pointer-events: none;
		position: absolute;
		top: 0.75em;
		right: $details-padding;
		background: #ffffff;

		svg {
			display: block;
		}
	}

	summary::-webkit-details-marker {
		display: none;
	}
}

// This relies on the space after float

p img[style*="float: right"] {
    padding-top: 40px;
    padding-left: 20px;
}

p img[style*="float: left"] {
    padding-top: 40px;
    padding-right: 20px;
}
